.btn {
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 0.18rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: var(--fw-medium);
    color: var(--c-body);
    border: solid 2px var(--c-body-green) !important;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--c-body-green);
    color: var(--c-white);
    transition: var(--transition);

}

.btn-brand {
    background-color: var(--c-body-green);
    color: var(--c-white);
}

.btn-brand:hover{
    background-color: var(--c-green-dark);
    border: none;
    font-weight: var(--fw-medium);

}

@media (max-width: 768px) {
    .btn {
        padding: 1rem 1.5rem;
        border-radius: 0.18rem;
        font-size: 1.1rem;
    }
}