/* NAVBAR */

nav .nav-item .nav-link {
    color: var(--c-body-green);
    font-size: var(--fs-body);
    font-weight: 400;
    text-transform: uppercase;
    transition: var(--transition);
}

nav .nav-item .nav-link:hover {
    transition: var(--transition);
    color: #224f34f8;
}